<div class="container mt-5">
  <div class="row mx-auto">
    <div class="col">
      <h2 class="fas fa-wrench m-5 rounded p-3 border border-secondary">会員情報編集</h2>
    </div>
  </div>
  <%=  form_with model: @customer, url: user_path, local:true do |f| %>

    <div class="mb-3 row">
      <%= f.label :"氏名", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-4">
        <%= f.text_field :name, autofocus: true, class:"form-control" %>
      </div>
    </div>
    <div class="mb-3 row">
      <%= f.label :"郵便番号（ハイフンなし）", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-4">
        <%= f.text_field :postcode, autofocus: true, autocomplete: "postal_code", class:"form-control" %>
      </div>
    </div>
    <div class="mb-3 row">
      <%= f.label :"住所", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_area :address, autofocus: true, class:"form-control" %>
      </div>
    </div>

    <div class="mb-3 row">
      <%= f.label :"メールアドレス", class:"col-sm-3 col-form-label" %>
      <div class="col-sm-4">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>
    </div>

    <div class = "row">
      <div class = "col">
        <%= f.label :"プロフィール画像" %>
        <%= f.file_field :profile_image %>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
      <%= f.submit "            編集内容を保存           ", class:"btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>