<body>
  <div class="container">
    <div class="row mt-3">
      <div class="col-2">
        <h2 class="rounded-pill border text-center">マイページ</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h3 class="font-weight-bold ml-3">登録情報</h3>

        <div class="mb-3 ml-5">
          <%= link_to "編集する", edit_user_path(current_customer), class:"btn btn-success" %>
        </div>

        <table class="table">
          <tr>
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image, class: "userimage" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "100x100" %>
            <% end %>
          </tr>
          <tr>
            <th>氏名</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= @user.postcode %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @user.address %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
        </table>

      </div>

      <div class = "col-8">
        <h1>自分の投稿</h1>
        <table>
          <tr>
            <th></th>
            <th>ラーメン店名</th>
            <th>ラーメン店住所</th>
            <th></th>
          </tr>

          <% @posts.each do |post| %>
          <tr>
            <td><%= image_tag post.post_image, class: "postimage" %></td>
            <td><%= post.shop_name %></td>
            <td><%= post.address %></td>
            <td>
              <%= link_to "編集する", edit_post_path(post.id) %>
              <%= link_to "削除", post_path(post), method: :delete %>
            </td>
          </tr>
          <% end %>
        </table>

      </div>

    </div>
  </div>
</body>









<!--<div class = "container">-->
<!--  <%#= form_with url: comments_path do |f| %>-->
<!--  <div class ="row">-->
<!--  <div class ="col">-->
<!--   <%#= f.text_area :comment, size: "80x5" %>-->
<!--  </div>-->
<!--   <div class ="col">-->
<!--   <%#= f.submit "送信する" %>-->
<!--   <%# end %>-->
<!--   </div>-->
<!--  </div>-->
<!--</div>-->