
<div class="container">
  <div class='col-12 col-xl-10'>
    <h2><strong>投稿一覧</strong></h2>
  </div>
  <% @posts.each do |post1| %>
  <div class="row">
    <div class="col">
      <div>
        <strong>
        <%= link_to post_path(post1) do %>
          <div class="my-3"><%= image_tag post1.post_image.variant(resize:'300x300') %></div>
        <% end %>
        <div><%= post1.shop_name %></div>
        <div><%= post1.introduction %></div>
        <div><%= post1.address %></div>
        <div><%= post1.taste %></div>
        <div><%= post1.noodle_hardness %></div>
        <div class="post-evaluation" data-score="<%= post1.evaluation %>"></div>
        <div> 評価<%= post1.evaluation %>点</div>
        <div id="favorite_buttons_<%= post1.id %>">
　　　    <%= render "favorites/favorite", post: post1 %>
　　    </div>
        </strong>
      </div>
    <% end %>
    </div>
  </div>
</div>

<script>
  $('.post-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>