
<div class="container">
  <div class='col-12 col-xl-10'>
    <h2><strong>投稿一覧</strong></h2>
  </div>

  <div class="row">
    <div class="col">
      <%= form_with url: searchtaste_path, method: :get, local: true do |f| %>
      <%= f.label :スープの味を選択してください %>
      　<%= f.select :taste1, [['醤油', "醤油"], ['塩', "塩"], ['味噌', "味噌"], ['豚骨', "豚骨"], ['鶏白湯', "鶏白湯"], ['つけ麺', "つけ麺"], ['油そば', "油そば"], ['その他', "その他"]], include_blank: "選択して下さい" %>
        <%= f.submit "絞り込み", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% @posts.each do |post1| %>
  <div class="row">
    <div class="col">
      <div>
        <strong>
        <%= link_to post_path(post1) do %>
          <div class="my-3"><%= image_tag post1.post_image, class: "postimage" %></div>
        <% end %>
        <div><%= post1.shop_name %></div>
        <div><%= post1.introduction %></div>
        <div><%= post1.address %></div>
        <div><%= post1.taste %></div>
        <div><%= post1.noodle_hardness %></div>
        <div class="post-evaluation" data-score="<%= post1.evaluation %>"></div>
        <div> 評価<%= post1.evaluation %>点</div>
        <div id="favorite_buttons_<%= post1.id %>">
　　　    <%= render "favorites/favorite", post: post1 %>
　　    </div>
        </strong>
      </div>
    <% end %>
    </div>
  </div>
</div>

<script>
  $('.post-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
  });

$(function() {

	// 国名が変更されたら発動
	$('select[name="country"]').change(function() {

		// 選択されている国のクラス名を取得
		var countyName = $('select[name="country"] option:selected').attr("class");
		console.log(countyName);

		// 都市名の要素数を取得
		var count = $('select[name="city"]').children().length;

		// 都市名の要素数分、for文で回す
		for (var i=0; i<count; i++) {

			var city = $('select[name="city"] option:eq(' + i + ')');

			if(city.attr("class") === countyName) {
				// 選択した国と同じクラス名だった場合

				city.show();
			}else {
				// 選択した国とクラス名が違った場合

				if(city.attr("class") === "msg") {
					// 「都市名を選択して下さい」という要素だった場合

						city.show();  //「都市名を選択して下さい」を表示させる
						city.prop('selected',true);  //「都市名を選択して下さい」を強制的に選択されている状態にする
				} else {
					// 「都市名を選択して下さい」という要素でなかった場合

					city.hide();
				}
			}
		}
	})
})
</script>