<body>

  <% if @posts.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <%= @posts.errors.count %>個のエラーあり
      <% @posts.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <%= form_with(model: @posts, url: posts_path, local: true) do |f| %>
  <div class="container">
    <div class=" row">
      <div class="col">
          <%= f.label :"ラーメン画像" %>
          <%= f.file_field :post_image %>

      </div>
    </div>
    <div class=" row">
      <div class="col">
        <%= f.label :"ラーメン店名" %>
        <%= f.text_field :shop_name %>
      </div>
    </div>
    <div class=" row">
      <div class="col">
        <%= f.label :"ラーメン店住所" %>
        <%= f.text_field :address %>
      </div>
    </div>
    <div class=" row">
      <div class="col">
        <%= f.label :"紹介文" %>
        <%= f.text_area :introduction %>
      </div>
    </div>
    <div class=" row">
      <div class="col">
        <%= f.label :"ラーメンスープの味" %>
        <%= f.select :taste, [['醤油', "醤油"], ['塩', "塩"], ['味噌', "味噌"], ['豚骨', "豚骨"], ['鶏白湯', "鶏白湯"], ['つけ麺', "つけ麺"], ['油そば', "油そば"], ['その他', "その他"]], { include_blank: true }%>
      </div>
    </div>
    <div class=" row">
      <div class="col">
        <%= f.label :"麺の固さ" %>
        <%= f.select :noodle_hardness, [['ばりやわ', "ばりやわ"], ['やわ', "やわ"], ['普通', "普通"], ['硬麺', "硬麺"], ['ばり硬', "ばり硬"], ['針金', "針金"]], { include_blank: true }%>
      </div>
    </div>

    <div id="evaluate_stars">
    <label>評価</label>
    </div>

    <div class=" row">
      <div class="col">
        <%= f.submit "投稿する", class:"btn btn-success" %>
      </div>
    </div>
  </div>
  <% end %>
</body>

<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[evaluation]', //登録するモデル名とカラム名を記述
    half: true,
  });
</script>