<!DOCTYPE html>
<html>
  <head>
    <title>RamenCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
　　<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class=" pt-2 pb-2 mt-5">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
