<!DOCTYPE html>
<html>
  <head>
    <title>RamenCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
　　<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  </head>

  <body>
    <header>
      <nav class="bg-warning sticky-top">
        <div class="container">
          <div class = "row ">
            <div class="col h1 mt-1" href="/">
              <%= link_to  root_path, class: "homelink" do %>
                <!--<img src="/assets/icon2.jpg" class="rounded-circle"　alt="" width="40" height="40">-->
                <%= image_tag asset_path("icon3.png"), class: 'headerimage' %>
                <span>Ramen Collection</span>
              <% end %>
            </div>
          </div>

          <div class="row justify-content-end">
            <div class="col-8 mr-5">
                <%= render 'layouts/header' %>
            </div>
          </div>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
          <div class="row justify-content-end ">
            <div class="col-3 my-3">

                  <%= f.text_field :keyword, value: @keyword, class:"form-control" %>
               </div>
              <div class="col-1 my-3">
                <%= f.submit "検索", class:"btn btn-success flex-shrink-0" %>
              </div>

          </div>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      
      <%= yield %>
    </main>

    <footer class="bg-warning pt-2 pb-2 mt-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <p class="text-center">©2021 All rights reserved by Ramen-Collection.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
